<div class="mushroom" style="color: <%= user && user.color %>">
  <div class="cap">
    <div class="spot"></div>
    <div class="spot"><%= user && user.initial %></div>
    <div class="spot"></div>
  </div>
  <div class="body">
    <div class="eye"></div>
    <div class="eye"></div>
  </div>
</div>