.mushroom {
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mushroom .cap {
  align-items: center;
  background: currentColor;
  border: 1vw solid white;
  border-radius: 20vw 20vw 12vw 12vw;
  display: flex;
  height: 20vw;
  justify-content: space-between;
  overflow: hidden;
  width: 24vw;
}

.mushroom .cap .spot {
  background: white;
  border-radius: 50%;
  font-size: 7vw;
  height: 7vw;
  line-height: 11vw;
  position: relative;
  text-align: center;
  width: 7vw;
}

.mushroom .cap .spot:nth-child(1) {
  right: 4vw;
}

.mushroom .cap .spot:nth-child(2) {
  bottom: 5vw;
  height: 10vw;
  transform: perspective(200px) rotateX(30deg); 
  width: 10vw;
}

.mushroom .cap .spot:nth-child(3) {
  left: 4vw;
}

.mushroom .body {
  align-items: center;
  background: white;
  border-radius: 44% / 33%;
  border-bottom-right-radius: 6vw;
  border-bottom-left-radius: 6vw;
  bottom: 5vw;
  display: flex;
  height: 8vw;
  justify-content: center;
  position: relative;
  width: 16vw;
}

.mushroom .body .eye {
  border-radius: 50%;
  background: black;
  height: 3vw;
  margin: 2vw;
  position: relative;
  width: 1vw;
}

.mushroom .body .eye::after, .mushroom .body .eye::before {
  animation-delay: 20s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  background: white;
  content: "";
  position: absolute;
  width: 100%;
}

.mushroom .body .eye::before {
  animation-name: blink-top-lid;
  bottom: 100%;
  top: 0%;
}

.mushroom .body .eye::after {
  animation-name: blink-bottom-lid;
  bottom: 0%;
  top: 100%;
}

@keyframes blink-top-lid {
  0% { bottom: 100%; }
  1% { bottom: 30%;  }
  2% { bottom: 100%; }
}

@keyframes blink-bottom-lid {
  0% { top: 100%; }
  1% { top: 70%;  }
  2% { top: 100%; }
}
